<nav class="breadcrumbs" aria-label="Breadcrumb">
  <a href="{{ routes.root_url }}">Home</a>
  {% if collection %}
    / <a href="{{ collection.url }}">{{ collection.title }}</a>
  {% endif %}
  {% if product %}
    / {{ product.title }}
  {% endif %}
</nav>