{% if product.compare_at_price > product.price %}
  <span class="price price--sale">{{ product.price | money }}</span>
  <s>{{ product.compare_at_price | money }}</s>
{% else %}
  <span class="price">{{ product.price | money }}</span>
{% endif %}