{% form 'product', product %}
  <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">

  <button class="nc-btn nc-btn--primary" type="submit">
    Add to cart
  </button>
{% endform %}