<article class="product-card">
  <a href="{{ product.url }}">
    {% if product.featured_image %}
      {{ product.featured_image | image_url: width: 600 | image_tag: loading: 'lazy', alt: product.title }}
    {% endif %}
    <h3>{{ product.title }}</h3>
    {% render 'price', product: product %}
  </a>
</article>