{% if product.variants.size > 1 %}
<label for="variant-select">Options</label>
<select id="variant-select" name="id">
{% for variant in product.variants %}
<option value="{{ variant.id }}">{{ variant.title }}</option>
{% endfor %}
</select>
{% endif %}