<section class="newsletter section">
 <div class="container text-center">
  <h2>{{ section.settings.heading }}</h2>
  <p>{{ section.settings.text }}</p>

  {% form 'customer' %}
    <input type="email" name="contact[email]" placeholder="Email address" required>
    <button class="nc-btn nc-btn--primary" type="submit">Subscribe</button>
  {% endform %}
 </div>
</section>

{% schema %}
{
 "name":"Newsletter",
 "settings":[
  {"type":"text","id":"heading","label":"Heading","default":"Subscribe"},
  {"type":"textarea","id":"text","label":"Text"}
 ]
}
{% endschema %}